 /* *{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}  */
 @media only screen and (max-width: 912px) {
    .herosectioncontent{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;  
        gap: 30px;
        max-width: 100%;
        
    }
    .welcomecontent{
        order: 2 !important;
    }
    .heroimage{
        order: 1 !important;
    }
    .Loremimg{
        display: flex;
        max-width: 335px;
        flex-direction: column  !important;
        gap: 10px !important;
        align-items: center !important;
    }
    .LoremAmetSection{
        flex-direction: column !important;
        gap: 30px;
    }
} 
